@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    width: auto;
    background: #182841;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items:center;
    padding-left: 20px;
    background: #182841e1;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo{
    color: #ffff;
    width: 200px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    padding: 0.45vw;
}
.tabs{
    display: flex;
    align-items: center;
    font-size: 20px;
    position: absolute;
    right: 20px;
}
.tab{
    min-width: 100px;
    margin: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.tab:hover{
    background: #1e182463;
}
.active{
    background: #1e182470;
    color: #ffff;
}
.container{
    position: relative;
    column-count: 4;
    padding: 20px;
    margin: 10% 5% 5% 5%;
}
.image{
    display: none;
    margin-bottom:10px;
    overflow: hidden;
    border-radius: 50px;
}
.show{
    display: inline-block;
}
img{
    width: 100%;
    transition: 0.25s ease-in-out;
}
.image:hover img{
    transform: scale(1.1);
}
